*{
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
   
   }
   .merc{
    background-color: rgb(149, 150, 177);
   }
   body{
    
       padding: 10px;
    
   }
   input{
       display: inline-block;
    border-radius: 5px;
      
   }
   .next{
    background-color: antiquewhite;
   }
   
   th {
       text-align: left;
       padding: 10px;
   }
.new{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}